<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="chrome"></add>
    <add key="Browser" value="chrome" />
    <add key="ServerPageTimeout" value="180" />
    <add key="ImplicitWaitTimeout" value="5" />
    <add key="VisualAssist" value="true" />
    <add key="isPrintScreenReq" value="true" />
    <add key="KillBrowserProcess" value="false" />
    <add key="URL" value="https://down-test-crowd-client-dev-as.azurewebsites.net/account/register/investor?ReturnUrl=%2Faccount%2Fdashboard" />
    <add key="URLMapping" value="\URLMapping\SiteUrl.xml" />
    <add key="ReportPath" value="\TestResults" />
    <add key="ReportTemplatePath" value="\Template.html" />
    <add key="DataSheetPath" value="\UserData.xlsx" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.0" newVersion="10.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>