<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.30" targetFramework="net461" />
  <package id="DnsClient" version="1.0.7" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net461" />
  <package id="ExtentReports" version="2.41.0" targetFramework="net461" />
  <package id="Faker" version="1.2" targetFramework="net461" />
  <package id="FluentAssertions" version="5.9.0" targetFramework="net461" />
  <package id="FreeSpire.XLS" version="9.10.11" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.2.26" targetFramework="net461" developmentDependency="true" />
  <package id="MicrosoftVisualStudioQualityToolsUnitTestFramework" version="1.0.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net461" />
  <package id="MSTestHacks" version="2.3.20" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="77.0.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.Extensions" version="3.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1" targetFramework="net461" />
  <package id="SimpleInjector" version="4.7.1" targetFramework="net461" />
  <package id="Spire.XLS" version="9.11.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Test" version="2.0.1.1" targetFramework="net461" />
</packages>